body{
    font-family: 'IM Fell English SC';
    background-image: url("/img/casa_arvore_wallpaper.jpg" )

    
}


.logo{
    padding-right: 200px;
    height: 170px;
    width: 280px;
}



.texto{
    color: white;
    text-align: center;
    font-size: 45px;
    
}

p{
    font-size: 24px;
    color: rgb(29, 16, 16);
    text-align: center;
}

.centro{
    padding-top: 90px;
}

.menu:hover{
    color: rgb(243, 16, 16);
}



.menu{
    border-bottom: 1px solid greenyellow;
    border-top: 1px solid rgb(20, 182, 223);
    padding: 35px;
    color: white;
    text-align: right;
    text-decoration: none;
    font-size: 30px;    
}

.jake{
    height: 200px;
    width: 200px;
}
